@import "frappe.css";

* {
  font-family: "0xProto Nerd Font";
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
  padding: 0 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

.modules-right {
  background-color: @surface0;
  margin: 5px 1rem;
  border-radius: 1rem;
}

.modules-right * {
    padding: 0.5rem 1rem;
}

#network {
    color: @sapphire;
}

#cpu {
    color: @mauve;
}

#memory {
    color: @rosewater;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#wireplumber {
  color: @maroon;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

